<!DOCTYPE html>

<title>Integrantes</title>
<link rel="stylesheet" href="TP-../../../static/styles.css">
<h1 class="text-center">Miembros del equipo</h1>

<style>

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}


.column {
  float: left;
  width: 15%;
  margin-bottom: 16px;
  padding: 0 40px;
}


img {
  border-radius: 50%;
}


@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.container {
  padding: 0 16px;
}


.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
</style>

<br><br>
<br><br>
<div class = "row">

  <div class="column">
    <div class="card">
        <img src="../static/Imagenes/Pili.jpg" height="250px" width="250px" class="center">
        <div class="container">
            <h2>Pilar Cuervo</h2>
        </div>
      </div>    
  </div>

  <div class="column">
    <div class="card">
        <img src="../static/Imagenes/Bere.jpg" height="250px" width="250px" class="center">
        <div class="container">
            <h2>Ángela Fernández</h2>
        </div>
     </div>    
  </div>

  <div class="column">
    <div class="card">
        <img src="../static/Imagenes/Pedro.jpg" height="250px" width="250px" class="center">
        <div class="container">
            <h2>Pedro Garvich</h2>

        </div>
      </div>    
  </div>

  <div class="column">
    <div class="card">
      <img src="../static/Imagenes/Jesi.jpg" height="250px" width="250px" class="center">
      <div class="container">
          <h2>Jésica Leiva</h2>

      </div>
    </div>    
  </div>


  <div class="column">
    <div class="card">
        <img src="../static/Imagenes/nico.jpg" height="250px" width="250px" class="center">
            <div class="container">
                <h2>Nicolás Ríos</h2>
            </div>
    </div>    
  </div>





</div>


